## Project
COMPOSE_PROJECT_NAME=archangel-cloud

## Version pins
STACK_VERSION=8.15.3

## Elasticsearch
ES_PORT=9200
ES_MEM_LIMIT=2147483648
ELASTIC_PASSWORD=ChangeMe_Elastic_2026!
KIBANA_PASSWORD=ChangeMe_Kibana_2026!

## Kibana
KIBANA_PORT=5601
KIBANA_MEM_LIMIT=1073741824

## Cluster
CLUSTER_NAME=archangel-cloud-cluster
LICENSE=basic

## Django frontend
DJANGO_SECRET_KEY=ChangeMe_Django_Secret_Key_2026
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
FRONTEND_PORT=8000

## nginx
HTTP_PORT=80
HTTPS_PORT=443
